<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean class="com.Student" name="s1">
<property name="id" value="200"/>
 <property name="subjects">
 <list>
 <value>Java</value>
 <value>Python</value>
 </list>
 </property>
</bean>
<bean class="com.Student" name="s2">
<property name="id" value="300"/>
 <property name="subjects">
 <list>
 <value>SQL</value>
 <value>Web</value>
 </list>
 </property>
</bean>
</beans>