<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="com.Collage" name="col">
		<property name="name" value="Tom" />
		<property name="dept">
			<list>
				<value>Mechanical</value>
			</list>
		</property>
		<property name="hod">
			<set>
				<value>dinga</value>
			</set>
		</property>
		<property name="details">
			<map>
				<entry key="ECE" value="100000">
				</entry>
			</map>
		</property>
	</bean>
</beans>